doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="/stylesheets/base.css?v=" + Date.now())
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    link(rel="stylesheet", href="/stylesheets/mobile.css?v=" + Date.now())

    script(src="/js/protectEditor.js")
    block head

  body
    nav.top-nav
      .nav-content
        .menu-logo-container
          button.hamburger-menu
            i.fas.fa-bars
          a.logo.hasAvatar(href='/', title='a 365 blog')
            img.avatar(width='30', height='30', src='/images/avatar.jpg')
        .nav-links
          .menu-item
            a.menu-item(href='/text') NEW
            a.menu-item(href='/text/edit') EDIT
            a.menu-item(href='/images/imgupl') IMG UPLOAD
            if session.isAuthenticated
              a.menu-item(href='/logout') LOGOUT
            else
              a.menu-item(href='/login?returnTo=/text') LOGOUT      
            a.menu-item(href='/help') HELP

    .main-content
      block content
    footer
      center © blind.swan.cage
    script(src="/js/navigation.js?v=" + Date.now())
    script(src="/js/waitButton.js")