extends layout

block content
  .editor-container
    h2 Edit Blog Post
    
    form#editorForm(action="/text/load/" method="POST")
      .editor-form-group
        label.editor-label(for="date") Editing the post for
        input#date(type="date" name="date" value=post.date required)
      
      .editor-form-actions
        button.submit-btn(type="submit") Load Post
        